@tailwind base;
@tailwind components;
@tailwind utilities;


/* For Chrome, Edge, and Safari */
input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset !important; /* Change white to match your background color */
  -webkit-text-fill-color: #000 !important; /* Ensure the text color remains readable */
  border: none !important; /* Match your normal input border */
}

/* For Firefox */
input:-moz-autofill {
  box-shadow: 0 0 0px 1000px white inset !important;
  border: none !important; /* Match your normal input border */
}



/* Hide scrollbar but allow scrolling */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
